[submodule "build/libass"]
	path = build/libass
	url = https://github.com/libass/libass.git
	ignore = dirty
[submodule "build/fribidi"]
	path = build/fribidi
	url = https://github.com/behdad/fribidi.git
	ignore = dirty
[submodule "build/fontconfig"]
	path = build/fontconfig
	url = git://anongit.freedesktop.org/fontconfig
	ignore = dirty
[submodule "build/freetype"]
	path = build/freetype
	url = git://git.sv.gnu.org/freetype/freetype2.git
	ignore = dirty
